*, *:before, *:after {
  box-sizing: border-box;
}
.background {
  width: 934 px;
  width: 334 px;
  font-family: serif;
  font-color:black;
  /* height: 667 px; */
  background-color: #F8F8F8;
}
.container {
  margin: 0 auto;
  width: 334px;
  height: 5px;
  padding-top: 10px;
  text-align: center;
}
 .rectangle{
  border-style:solid;
  border-top-width: 334px;

  border-width: thin;
  /* height:5px; */
  border-style:solid;
  border-color:black;
}
/* .rectangle::after{
  clear:both;
  display:table;
  content: "";
} */
.arrow-left{
  color:blue;
}
.styleblue{
  color:blue;
}
.style{
    		list-style-type: none;
    		overflow: hidden;
    		/* background-color: #333; */
    		float: block;
    		display: block;
    		/* color: blue; */
    		text-align: center;
    		padding: 16px 16px;
    		text-decoration: none;
		};
/* .content {
  float:left;
  display: inline;
  padding-left: 10px;
  margin-bottom: 5px;
  padding-top: 36px;
  border-style: solid;
  border-bottom-width: thin;
} */
