*, *:before, *:after {
  box-sizing: border-box;
}
.background {
  width: 334 px;
  height: 667 px;
  background-color: #F8F8F8;
  /* background-color: black; */
}
.container {
  margin: 0 auto;
  width: 334px;
  height: 5px;
}
.rectangle{
  border-style:solid;
  /* border-top-width: 334px; */
  border-width: thin;
  /* height:5px; */
  border-style:solid;
  border-color:gray;
}
/* .rectangle::after{
  clear:both;
  display:table;
  content: "";
} */
.arrow-left{
  color:blue;
}
.style{
    		list-style-type: none;
    		overflow: hidden;
    		background-color: #333;
    		float: left;
    		display: block;
    		color: white;
    		text-align: center;
    		padding: 16px 16px;
    		text-decoration: none;
		};
/* .content {
  float:left;
  display: inline;
  padding-left: 10px;
  margin-bottom: 5px;
  padding-top: 36px;
  border-style: solid;
  border-bottom-width: thin;
} */
